@model List<Reservation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>List of reservations</h1>
<a class="btn btn-primary mt-3" asp-controller="Reservation" asp-action="Create">Add reservation</a>
<table class="table mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reservation reservation in @Model)
        {
            <tr>
                <td>
                    @reservation.Date.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @reservation.City
                </td>
                <td>
                    @reservation.Address
                </td>
                <td>
                    @reservation.Room
                </td>
                <td>
                    @reservation.Owner
                </td>
                <td>
                    @reservation.Price
                </td>
                <td>
                    <a asp-action="Update" asp-route-id=@reservation.Id>Edit</a>
                    <a asp-action="Details" asp-route-id=@reservation.Id>Details</a>
                    <a asp-action="Delete" asp-route-id=@reservation.Id>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>